useDynLib(NSGEV)

importFrom("utils", "getS3method")
import("stats")
importFrom("graphics", "abline", "lines", "matlines", "matplot",
           "mtext", "plot")
import("methods")
import("ggplot2")
importFrom("reshape2", "melt")

import("Renext")
importFrom("ismev", "gev.fit")
import("extRemes", except = c("qqplot", "qqnorm"))
import("numDeriv")
import("nloptr")

exportPattern("^[[:alpha:]]+")

S3method(parNames, default)


S3method(as.NSGEV, fevd)
S3method(as.NSGEV, gev.fit)
S3method(coef, NSGEV)
S3method(density, NSGEV)
S3method(plot, NSGEV)
S3method(predict, NSGEV)
S3method(print, NSGEV)
S3method(psi2theta, NSGEV)
S3method(quantile, NSGEV)
S3method(simulate, NSGEV)
S3method(summary, NSGEV)
S3method(print, summary.NSGEV)

## S3method(AIC, TVGEV)
S3method(anova, TVGEV)

## S3method(BIC, TVGEV)

S3method(bs, TVGEV)
S3method(cdf, TVGEV)
S3method(coef, TVGEV)
S3method(confint, TVGEV)
S3method(density, TVGEV)
S3method(logLik, TVGEV)
S3method(mean, TVGEV)
S3method(moment, TVGEV)
S3method(plot, TVGEV)
S3method(predict, TVGEV)
S3method(print, TVGEV)
S3method(profLik, TVGEV)
S3method(psi2theta, TVGEV)
S3method(quantile, TVGEV)
S3method(residuals, TVGEV)
S3method(simulate, TVGEV)
S3method(summary, TVGEV)
S3method(vcov, TVGEV)

## predictions iherits from data.frame
S3method(plot, predict.TVGEV)
S3method(plot, resid.TVGEV)
S3method(plot, simulate.TVGEV)
S3method(print, summary.TVGEV)

S3method(plot, bts)
S3method(print, bts)
S3method(lines, bts)

S3method(plot, bfts)
