name: R-CMD-INSTALL
      
on:
  push:
  pull_request:
    
jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
        R: [ '4.4' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.R }}
          rtools-version: '44'

      - uses: r-lib/actions/setup-r-dependencies@v2

      - run: |
          cd ..; R CMD INSTALL --build NSGEV 
          mkdir NSGEV/R-${{ matrix.R }}
          mv NSGEV_*.* NSGEV/R-${{ matrix.R }}/.
        shell: bash
        name: R CMD INSTALL

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}
          path: ./R-*

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./R-*/*.tar.gz
            ./R-*/*.tgz
            ./R-*/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
